* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 60vh 40vh;   
    font-family: 'Montserrat', sans-serif;
}

#man {
    position: absolute;
    width: 30%;
    left: 40%;
    bottom: 0;
}

#main {
    grid-column: 1 / 5;
    background-color: #D9D3C8;
    padding: 70px;
}

#main .yellow-box {
    position: absolute;
    top: 0;
    left: 250px;
    width: 300px;
    height: 350px;
    background-color: #FCB901;
    z-index: 100;
}

#main nav {
    position: relative;
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 900;
}

#main nav .logo {
    font-size: 30px;
}

#main nav .menu {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

#link{
    display: flex;
    flex-direction: row;
}

#link img{
    width: 19px;
}

#link p{ 
    text-transform: uppercase; 
    margin: 0 5px;
    color: #000;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
}

.cart a{
    text-transform: uppercase; 
    margin: 0 5px;
    color: #000;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
}

#main #text {
    position: relative;
    font-size: 130px;
    margin-top: 80px;
    z-index: 900;
    font-family: 'Great Vibes', cursive;
    line-height: 0.8;
}

#main #text span {
    margin-left: 150px;
}

#sidebar {
    grid-column: 5 / -1;
    background-color: #fff;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sidebar nav .link {
    text-transform: uppercase; 
    margin: 0 5px;
    color: #000;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
}

.view{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
    color: #DC721f;
}

.view p{
    font-size: 15px;
    
}

.view i{
    margin:0 5px;
}
#sidebar .social_links {
    display: flex; 
    justify-content: space-between;
} 

#media_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

#media_link p{
    margin: 0 5px;
}

#sidebar img {  
    width: 150px;

}

#scroll {
    grid-column: 1 / 2;
    background-color: #3E6B6C;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#scroll p{
    color: white;
    font-size: 20px;
}

#scroll img{
    width: 70px;
}

#clothes {
    grid-column: 2 / 5;
    background-color: #ECE8E3;
    padding: 70px;
}

#clothes .container .box h3{
    color: #DC721f;
    word-spacing: 5px;
    line-height: 40px;
}

#clothes .container .box p{
font-size: 15px;
margin-top: 5px;
color:rgb(112, 112, 112)
}

.categories{
    margin-top: 50px;
    display: flex;
}

#option{
    width: 70px;
    height: 30px;
    border: 2px solid #828282;
    box-sizing: border-box;
    background-color: transparent;
    color: #000;
    font-weight: bold;
    outline: none;
    margin-right: 20px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cost{
    font-size: 20px;
    font-weight: bold;
    width: 70px;
    height: 30px;
    border: 2px solid #DC721f;
    color: #DC721f;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feedback {
    grid-column: 5 / -1;
    background-color: #ECE8E3;
    padding:70px;
    display: flex;
    align-items: center;
}

.report{
    display: flex;
    flex-direction: row;
    align-items: center ;
}

.report img{
    width: 70px;
    border-radius: 5px;
}

.avatar{
    margin: 0 30px;
}

.avatar h3{
    font-size: 25px;
}

.avatar p{
    font-size: 15px;
    margin-top: 5px;
    color:rgb(112, 112, 112)
}